<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="minimum-scale=1, width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{htmlWebpackPlugin.options.title}}</title>
		<!-- Favicons -->
		<!-- 128x128 -->
		<link rel="shortcut icon" type="image/ico" href="{{htmlWebpackPlugin.options.publicUrl}}favicon/favicon.ico" />
		<link rel="icon" type="image/png" href="{{htmlWebpackPlugin.options.publicUrl}}favicon/favicon.png" />
		<!-- 192x192, as recommended for Android -->
		<link rel="icon" type="image/png" sizes="192x192" href="{{htmlWebpackPlugin.options.publicUrl}}favicon/favicon-192.png" />
		<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
		<link rel="apple-touch-icon-precomposed" href="{{htmlWebpackPlugin.options.publicUrl}}favicon/favicon-57.png">
		<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{htmlWebpackPlugin.options.publicUrl}}favicon/favicon-72.png">
		<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{htmlWebpackPlugin.options.publicUrl}}favicon/favicon-114.png">
		<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{htmlWebpackPlugin.options.publicUrl}}favicon/favicon-144.png">
	</head>
	<body>
		<div id="root"></div>
		<script>
		window.ANET_DATA = {
			currentUser: {
				uuid: "${currentUser.uuid}",
				name: "${currentUser.name!}",
				role:"<#if (currentUser.position)?? >${currentUser.position.type!'ADVISOR'}<#else>ADVISOR</#if>",
				rank: "${currentUser.rank!}",
			},
			adminSettings: [
				{key: "SECURITY_BANNER_TEXT", value: "${securityBannerText!\"Set SECURITY_BANNER_TEXT adminSetting\"}"},
				{key: "SECURITY_BANNER_COLOR", value: "${securityBannerColor!\"green\"}"}
			],
			dictionary : "${dictionary?no_esc}"
		}
		</script>

	</body>
</html>
